 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Portuguese Dutch-born, I’m a Software Developer with a passion for Artificial Intelligence.</p>
                       <p>CS grad with experience in the IT field, I'm currently a freelancer who likes to bring up together
                    software development with machine learning to create powerful applications.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently my interests in AI are Deep Learning, Computer Vision, NLP and Reinforcement Learning.</p>
                       <p>Here I share some of my projects, allowing my creativity to flourish.
                           Stay tuned to see my latest projects! </p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download CV
                </a>
            </div>
        </div>
    </section>
