 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.short-description }}</p>
                            <img src="img/portfolio/{{ post.img }}" style="width: 70%; height: 70%" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            {% if post.video %}
                                <video width="450" height="450" controls="" autoplay="">
                                    <source src="/video/{{ post.video }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <p></p>
                            {% endif %}
                            {% if post.gif %}
                                <img src="gif/{{ post.gif }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                <p></p>
                            {% endif %}
                            {% if post.link-github %}
                                <!-- Place this tag where you want the button to render. -->
                                <a href="{{ post.link-github }}" class="btn btn-success" target="blank">See project on GitHub &nbsp;<i class="fa fa-github"></i></a>
                            {% endif %}
                            {% if post.link-other %}
                                <!-- Place this tag where you want the button to render. -->
                                <a href="{{ post.link-other }}" class="btn btn-success" style="background-color: blue; margin-left: 5px" target="blank">See Publication &nbsp;</a>
                            {% endif %}
                            {% if post.link-app %}
                                <!-- Place this tag where you want the button to render. -->
                                <a href="{{ post.link-app }}" class="btn btn-success" style="background-color: blue; margin-left: 5px" target="blank">Go to App &nbsp;</a>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.languages %}
                                    <li>Languages:
                                        <strong><a href="#">{{ post.languages }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.frameworks %}
                                    <li>Frameworks:
                                        <strong><a href="#">{{ post.frameworks }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong><a href="#">{{ post.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
